# This is Git's per-user configuration file.
[user]
name = Edward Rowe
email = edward.l.rowe@gmail.com
[alias]
cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
# From Github Flow Aliases http://haacked.com/archive/2014/07/28/github-flow-aliases/
s = status -s
st = status -s
co = checkout
cob = checkout -b
lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"

# Git status goes to grep for question marks (which denote untracked files)
# awk gets the second column of data (which is relative path here) using default space delimeter
# Pipe the paths into xargs using token replacement (-J where token is {0}) into trash
rmu = "! git status -s | grep \"??\" | awk '{print $2}' | xargs -J {0} mv {0} ~/.Trash"

[core]
	excludesfile = /Users/erowe/.gitignore_global
	editor = atom --wait
[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
	trustExitCode = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
